<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Mobile Suite">

    <parameter name="email" value="shubham@gmail.com" />

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke1"/>
            </run>
        </groups>

        <classes>
            <class name="org.example.apiDemosTest"/>
        </classes>
    </test>
</suite>